#output{
  display: none;
}


body {
  text-align: center;
  margin-top:2%;
  background-color: #FFDAD0;
}

.card {
  height:125px;
  font-size:80px;
}

.topbar {
  font-size:20px;
  color:white;
  background-color: black;
}

.monstView {
  height:600px;
}

.redtext {
  color:red;
}

.player {
  height:200px;
  font-size:40px;
}

.playercon {
  height:100px;
}
